.aplicacion,
.salvavidas {
  margin: 0;
}
.aplicacion-salvavidas,
.bienvenido {
  margin: 0;
  width: 516px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  max-width: 100%;
}
.bienvenido {
  font-size: 40px;
  text-align: center;
}
.aplicacion-salvavidas-parent {
  width: 1356px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 33px;
  max-width: 100%;
  text-align: left;
  font-size: 60px;
  color: var(--color-black);
  font-family: var(--font-jetbrains-mono);
}
.frame-child {
    position: absolute;
    width: calc(100% - 15.4px);
    top: 0;
    right: 7.4px;
    left: 8px;
    border-radius: var(--br-16xl);
    background-color: var(--color-orangered);
    height: 80px;
}
.escanear-qr {
  position: absolute;
  top: 24px;
  left: 0;
  display: inline-block;
  width: 420px;
  height: 32px;
  z-index: 1;
}
.rectangle-parent {
  height: 80px;
  width: 420px;
  position: relative;
  max-width: 100%;
  color: black;
}
.desktop-inner {
  width: 1356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.frame-item {
  align-self: stretch;
  width: 404.6px;
  position: relative;
  border-radius: var(--br-16xl);
  background-color: var(--color-orangered);
  max-width: 100%;
}
.desktop-child {
  width: 1356px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.lista-de-pacientes {
  width: 420px;
  height: 5.2px;
  position: absolute;
  margin: 0 !important;
  bottom: 389.7px;
  left: calc(50% - 210px);
  display: inline-block;
  z-index: 1;
}
.frame-inner {
  align-self: stretch;
  width: 404.6px;
  position: relative;
  border-radius: var(--br-16xl);
  background-color: var(--color-orangered);
  max-width: 100%;
}
.frame-div {
  width: 1356px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.agregar-paciente {
  width: 420px;
  height: 5.2px;
  position: absolute;
  margin: 0 !important;
  bottom: 259.7px;
  left: calc(50% - 210px);
  display: inline-block;
  z-index: 1;
}
.desktop {
    width: 100%;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffc288;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px 50px;
    box-sizing: border-box;
    gap: 50px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-jetbrains-mono);
}
@media screen and (max-width: 750px) {
  .aplicacion-salvavidas {
    font-size: 48px;
  }
  .bienvenido {
    font-size: 32px;
  }
}
@media screen and (max-width: 675px) {
  .aplicacion-salvavidas-parent {
    gap: 16px;
    padding-top: 119px;
    padding-bottom: 46px;
    box-sizing: border-box;
  }
  .desktop {
    gap: 25px;
  }
}
@media screen and (max-width: 450px) {
  .aplicacion-salvavidas {
    font-size: 36px;
  }
  .bienvenido {
    font-size: var(--font-size-5xl);
  }
  .agregar-paciente,
  .escanear-qr,
  .lista-de-pacientes {
    font-size: var(--font-size-lgi);
  }
}
