<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="autor" content="Miguel Dario Coronel">
	<meta name="descripcion" content="Salvavidas">
	<link rel="icon" href="images/logo_salvavidas.webp">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:wght@300;400;500;600;700;800;900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">


	<!-- Core Style -->
	<link rel="stylesheet" href="style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="css/font-icons.css">

	<!-- Plugins/Components CSS -->
	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" href="include/rs-plugin/css/settings.css" media="screen">
	<link rel="stylesheet" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" href="include/rs-plugin/css/navigation.css">
	<link rel="stylesheet" href="include/rs-plugin/css/addons/revolution.addon.particles.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title>Salvavidas | Landing Page</title>

</head>

<body class="stretched">


	<!-- Document Wrapper Tarjetas Presentacion
	============================================= -->
	<div id="wrapper">
		<!-- Header
	============================================= -->
		<header id="header" class="transparent-header dark" data-sticky-class="not-dark">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
					============================================= -->
						<div id="logo">
							<img class="logo-dark" srcset="images/logo_salvavidas.webp, images/logo_salvavidas.webp 2x" src="images/logo_salvavidas.webp" alt="Salvavidas Logo">
						</div><!-- #logo end -->

						<div class="header-misc">

							<!-- Top Search
						============================================= -->
							<div id="top-search" class="header-misc-icon">
								<a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
							</div><!-- #top-search end -->
						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
					============================================= -->
						<nav class="primary-menu">

							<ul class="menu-container">
								<li class="menu-item">
									<a class="menu-link" href="#"><div>Home</div></a>
									<ul class="sub-menu-container">
										
										<li class="menu-item">
											<a class="menu-link" href="/salvavidas/views/b_login/login.php"><div>Iniciar Sesión</div></a>
										</li>
										<li class="menu-item">
											<a class="menu-link"><div>Registre su clínica</div></a>
										</li>
										<li class="menu-item">
											<a class="menu-link"><div>Conózcanos</div></a>
										</li>
									</ul>
								</li>
							</ul>

						</nav><!-- #primary-menu end -->

						<form class="top-search-form" action="search.html" method="get">
							<input type="text" name="q" class="form-control" value="" placeholder="Escribe y oprime enter..." autocomplete="off">
						</form>

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->
		<!-- Slider Aplicación Salvavidas ============================================= -->
		<section id="slider" class="slider-element revslider-wrap include-header">

			<div class="rev_slider_wrapper">
				<!-- START REVOLUTION SLIDER 5.3.1.6 fullscreen mode -->
				<div id="rev_slider_4_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.4">
					<ul>
						<!-- SLIDE  -->
						<li class="dark" data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="images/transparent.webp" style='background-color:#1d2931' alt="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-8-layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
								 data-width="full-proportional"
								 data-height="full-proportional"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-basealign="slide"
								 data-responsive_offset="on"
								 data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"

								 style="z-index: 5;"><img src="images/cardiac_arrest.webp" alt="Image" data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']" data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']" data-no-retina> </div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
								 id="slide-8-layer-8"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['597','517','597','497']"
								 data-fontsize="['120','120','120','80']"
								 data-lineheight="['90','90','90','60']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="text"
								 data-responsive_offset="on"
								 data-frames='[{"delay":1300,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['center','center','center','center']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 6; white-space: nowrap; font-size: 120px; line-height: 90px; font-weight: 700; color: rgb(0, 255, 255, 1.00); font-family: Merriweather; letter-spacing: -10px;">
								<div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px" data-origin="50% 50%">SALVA<br>VIDAS </div>
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
								 id="slide-8-layer-7"
								 data-x="['center','center','center','center']" data-hoffset="['-3','-3','-3','-3']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['600','520','600','500']"
								 data-fontsize="['120','120','120','80']"
								 data-lineheight="['90','90','90','60']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="text"
								 data-responsive_offset="on"
								 data-frames='[{"delay":1200,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['center','center','center','center']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 7; white-space: nowrap; font-size: 120px; line-height: 90px; font-weight: 700; color: rgb(0, 255, 255, 1.00); font-family: Merriweather; letter-spacing: -10px; ">
								<div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px" data-origin="50% 50%">SALVA<br>VIDAS </div>
							</div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
								 id="slide-8-layer-5"
								 data-x="['center','center','center','center']" data-hoffset="['3','3','3','3']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['600','520','600','500']"
								 data-fontsize="['120','120','120','80']"
								 data-lineheight="['90','90','90','60']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="text"
								 data-responsive_offset="on"
								 data-frames='[{"delay":1100,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['center','center','center','center']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 8; white-space: nowrap; font-size: 120px; line-height: 90px; font-weight: 700; color: rgba(0, 255, 255, 1.00); font-family: Merriweather; letter-spacing: -10px; ">
								<div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px" data-origin="50% 50%">SALVA<br>VIDAS </div>
							</div>

							<!-- LAYER NR. 5 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
								 id="slide-8-layer-3"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['600','520','600','500']"
								 data-fontsize="['120','120','120','80']"
								 data-lineheight="['90','90','90','60']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="text"
								 data-responsive_offset="on"
								 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['center','center','center','center']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 9; white-space: nowrap; font-size: 120px; line-height: 90px; font-weight: 700; color: rgb(210, 47, 48); font-family: Merriweather; letter-spacing: -10px; ">SALVA<br>VIDAS </div>

							<!-- LAYER NR. 6 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
								 id="slide-8-layer-15"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['90','75','181','200']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-responsive_offset="on"
								 data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"sX:1.1;sY:1.1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 10;">
								<div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="3px" data-origin="50% 50%"><img src="images/tablet_ancho.webp" alt="Image" data-ww="['350px','300px','300px','300px']" data-hh="['262px','225px','225px','225px']" data-no-retina> </div>
							</div>

							<!-- LAYER NR. 7 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
								 id="slide-8-layer-2"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['299','260','380','350']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-responsive_offset="on"
								 data-frames='[{"delay":250,"speed":5000,"frame":"0","from":"y:100px;rZ:15deg;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 11;">
								<div class="rs-looped rs-wave" data-speed="10" data-angle="0" data-radius="5px" data-origin="50% 50%"><img src="images/salvavidasPNG.webp" alt="Image" data-ww="['763px','763px']" data-hh="['763px','763px']" data-no-retina> </div>
							</div>

							<!-- LAYER NR. 8 Descubranos -->
							<a class="tp-caption   tp-resizeme"
							   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							   data-y="['bottom','bottom','bottom','bottom']" data-voffset="['210','180','280','192']"
							   data-fontsize="['25','20','20','15']"
							   data-lineheight="['25','25','25','20']"
							   data-width="['none','none','none','320']"
							   data-height="none"
							   data-whitespace="['nowrap','nowrap','nowrap','normal']"
							   data-type="text"
							   data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}, {"event":"mouseenter","action":"startlayer","layer":"slide-8-layer-17","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-8-layer-17","delay":""}]' data-responsive_offset="on"
							   data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"sX:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0px;","style":"c:rgba(255, 255, 255, 1.00);"}]'
							   data-textAlign="['inherit','inherit','inherit','center']"
							   data-paddingtop="[0,0,0,0]"
							   data-paddingright="[0,0,0,0]"
							   data-paddingbottom="[0,0,0,0]"
							   data-paddingleft="[0,0,0,0]"
							   style="z-index: 12; white-space: nowrap; font-size: 20px; line-height: 25px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Oswald;letter-spacing:10px;cursor:pointer;text-decoration: none;">DESCUBRANOS</a>

							<!-- LAYER NR. 9 Subrayado Descubranos -->
							<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
								 id="slide-8-layer-17"
								 data-x="['center','center','center','center']" data-hoffset="['-4','-4','-4','-4']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['202','173','272','186']"
								 data-width="['250','210','210','190']"
								 data-height="2"
								 data-whitespace="nowrap"
								 data-type="shape"
								 data-responsive_offset="on"
								 data-frames='[{"delay":"bytrigger","speed":500,"frame":"0","from":"sX:0;opacity:1;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"frame":"999","to":"sX:0;opacity:1;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 data-lasttriggerstate="reset"
								 style="z-index: 13;background-color:rgba(255, 255, 255, 1.00);"> </div>

							<!-- LAYER NR. 10 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
								 id="slide-8-layer-9"
								 data-x="['center','center','center','center']" data-hoffset="['-531','-531','-348','-204']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['350','350','421','431']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-responsive_offset="on"
								 data-frames='[{"delay":250,"speed":3000,"frame":"0","from":"y:150px;rZ:90deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 14;">

							</div>

							<!-- LAYER NR. 11 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
								 id="slide-8-layer-10"
								 data-x="['center','center','center','center']" data-hoffset="['493','493','326','194']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['399','399','408','438']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-responsive_offset="on"
								 data-frames='[{"delay":350,"speed":3000,"frame":"0","from":"y:150px;rZ:-90deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 15;">
							</div>

							<!-- LAYER NR. 12 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-5"
								 id="slide-8-layer-11"
								 data-x="['center','center','center','center']" data-hoffset="['350','350','245','141']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['338','338','331','348']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-responsive_offset="on"
								 data-frames='[{"delay":450,"speed":3000,"frame":"0","from":"y:150px;rZ:45deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 16;">
							</div>

							<!-- LAYER NR. 13 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-5"
								 id="slide-8-layer-12"
								 data-x="['center','center','center','center']" data-hoffset="['-455','-455','-321','-214']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['320','320','357','381']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-responsive_offset="on"
								 data-frames='[{"delay":550,"speed":3000,"frame":"0","from":"y:150px;rZ:-125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 17;">
							</div>

							<!-- LAYER NR. 14 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
								 id="slide-8-layer-13"
								 data-x="['center','center','center','center']" data-hoffset="['-88','-88','-88','-37']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['382','382','382','399']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-responsive_offset="on"
								 data-frames='[{"delay":650,"speed":3000,"frame":"0","from":"y:150px;rZ:125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 18;">
							</div>

							<!-- LAYER NR. 15 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
								 id="slide-8-layer-14"
								 data-x="['center','center','center','center']" data-hoffset="['-232','-232','-232','-170']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['300','300','300','366']"
								 data-width="none"
								 data-height="none"
								 data-whitespace="nowrap"
								 data-type="image"
								 data-responsive_offset="on"
								 data-frames='[{"delay":750,"speed":3000,"frame":"0","from":"y:150px;rZ:-125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['inherit','inherit','inherit','inherit']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 19;">
							</div>

							<!-- LAYER NR. 19 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-8-layer-21"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','30']"
								 data-width="['none','none','none','360']"
								 data-height="none"
								 data-whitespace="['nowrap','nowrap','nowrap','normal']"
								 data-type="text"
								 data-basealign="slide"
								 data-responsive_offset="on"
								 data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"sX:2;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								 data-textAlign="['center','center','center','center']"
								 data-paddingtop="[0,0,0,0]"
								 data-paddingright="[0,0,0,0]"
								 data-paddingbottom="[0,0,0,0]"
								 data-paddingleft="[0,0,0,0]"
								 style="z-index: 23; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Oswald;letter-spacing:10px;">
								APLICACIÓN | SALVAVIDAS
							</div>
						</li>
					</ul>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div><!-- END REVOLUTION SLIDER -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->

		</section>


		<!-- Go To Top
	============================================= -->
		<div id="gotoTop" class="uil uil-angle-up"></div>

		<!-- Contenido
	============================================= -->
		<section id="content">
			<!-- Tarjetas Presentacion
	============================================= -->
			<div class="content-wrap" style="background: radial-gradient(rgba(255, 223, 186, 0.5), rgba(255, 223, 186, 1)); ">
				<div class="container">


					<div id="tarjetas" class="post-grid grid-container row" data-layout="fitRows">

						<div class="entry col-lg-4 col-md-6 col-12">
							<div class="grid-inner rounded-1" style="background: radial-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('images/terapia_intensiva_con.webp') no-repeat center center / cover; height: 520px; overflow: auto;">
								<div class="bg-overlay position-relative">
									<div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5 dark" data-hover-animate="fadeIn" data-hover-speed="0" data-hover-animate-out="dark" style="opacity: 1 !important; font-family: Roboto Slab;">
										<div class="entry-title">
											<h2 style="font-family: Roboto Slab;"><br />Atención Médica</h2>
										</div>
										<div class="entry-content">
											<p>Revolucione la atención médica con nuestra aplicación: información vital al alcance de su mano. <br />Agilice la toma de decisiones en terapia intensiva y mejore la calidad del cuidado del paciente. <br /><br />¡Empodere a su equipo de salud hoy!</p>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn" data-hover-parent=".entry" style="background: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('images/doctora_1.webp') no-repeat center center / cover;"></div>
								</div>
							</div>
						</div>

						<div class="entry col-lg-4 col-md-6 col-12">
							<div class="grid-inner rounded-1" style="background: radial-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('images/codigo_qr.webp') no-repeat center center / cover; height: 520px; overflow: auto;">
								<div class="bg-overlay position-relative">
									<div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5 dark" data-hover-animate="fadeIn" data-hover-speed="0" data-hover-animate-out="dark" style="opacity: 1 !important; font-family: Roboto Slab;">
										<div class="entry-title">
											<h2 style="font-family: Roboto Slab;"><br />Pulsera QR</h2>
										</div>
										<div class="entry-content">
											<p>Nuestro código QR en la pulsera del paciente desbloquea datos vitales al instante. <br />Acceda a historias clínicas, cirugías, tratamientos, seguimientos y antecedentes con un simple escaneo. <br /><br />¡La innovación está en sus manos! </p>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn" data-hover-parent=".entry" style="background: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('images/pulsera_salvavidas.webp') no-repeat center center / cover;"></div>
								</div>
							</div>
						</div>

						<div class="entry col-lg-4 col-md-6 col-12">
							<div class="grid-inner rounded-1" style="background: radial-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('images/computadora_cafe.webp') no-repeat center center / cover; height: 520px; overflow: auto;">
								<div class="bg-overlay position-relative">
									<div class="bg-overlay-content flex-wrap justify-content-start position-relative p-5 dark" data-hover-animate="fadeIn" data-hover-speed="0" data-hover-animate-out="dark" style="opacity: 1 !important; font-family: Roboto Slab;">
										<div class="entry-title">
											<h2 style="font-family: Roboto Slab;"><br />Análisis de Datos</h2>
										</div>
										<div class="entry-content">
											<p>Analice tendencias y resultados para sugerir tratamientos con altas tasas de éxito. <br />En terapia intensiva, donde cada segundo cuenta, nuestra herramienta se convierte en un aliado clave, ofreciendo recomendaciones basadas en datos para una atención al paciente más precisa y preventiva.<br /><br /> ¡Lidere con análisis proactivo!</p>
										</div>
									</div>
									<div class="bg-overlay-bg" data-hover-animate="fadeIn" data-hover-parent=".entry" style="background: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('images/grafico_torta.webp') no-repeat center center / cover;"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div><!-- #tarjetas end -->
			<!-- Video Youtube
			============================================= -->
			<div class="section m-0 dark vh-75 vh-lg-100 parallax">
				<div class="vertical-middle">
					<div class="container text-center" data-bottom-top="transform: translateY(50px);" data-top-bottom="transform: translateY(-50px);">
						<a href="https://www.youtube.com/watch?v=tJQQW5ZcEls">
						<i class="i-plain i-large bi-camera-video mx-auto"  data-animate="fadeInDown"></i>
						</a>
						<div class="emphasis-title m-0" data-animate="fadeInUp">
							<h2 style="font-size: 56px; color: rgb(0, 255, 255, 1.00); -webkit-text-stroke: 2px black; ">Unidad de Terapia Intensiva</h2>
						</div>
					</div>
				</div>
				<div class="video-wrap">
					<div class="yt-bg-player" data-quality="hd1080" data-start="20" data-stop="40" data-video="https://www.youtube.com/watch?v=tJQQW5ZcEls"></div>
				</div>
			</div>
			<!-- #video youtube end -->
			<!-- Equipo Team
	============================================= -->
			<div class="content-wrap min-vh-100 d-flex align-items-center" style="background: radial-gradient(rgba(255, 204, 153, 0.5), rgba(255, 204, 153, 1)); font-family: Roboto Slab; ">
				<div class="container">

					<div class="row justify-content-center mb-5">
						<div class="col-xl-6 col-lg-8 text-center">
							<h3 class="h1 fw-bold mb-3" style="font-family: Roboto Slab;">Nuestro Equipo</h3>
						</div>
					</div>

					<div class="row justify-content-center col-mb-30">

						<div class="col-auto">
							<div class="team-person">
								<div class="person-container">
									<div class="person-container-inner">
										<img class="person-circle" src="images/fondo_rojo.webp">
										<img class="person-img" src="images/team_doctora.webp">
									</div>
								</div>
								<div class="person-divider bg-danger"></div>
								<div class="fs-4 fw-semibold mb-1 mt-4 text-black">Dra. Isabel Fernández</div>
								<div class="text-black-50 text-smaller">Doctora Intensivista </div>
							</div>
						</div>

						<div class="col-auto">
							<div class="team-person">
								<div class="person-container">
									<div class="person-container-inner">
										<img class="person-circle" src="images/fondo_amarillo.webp">
										<img class="person-img" src="images/team_product.webp">
									</div>
								</div>
								<div class="person-divider bg-success"></div>
								<div class="fs-4 fw-semibold mb-1 mt-4 text-black">Lic. Yanel Coronel</div>
								<div class="text-black-50 text-smaller">Product Owner</div>
							</div>
						</div>

						<div class="col-auto">
							<div class="team-person">
								<div class="person-container">
									<div class="person-container-inner">
										<img class="person-circle" src="images/azul_fondo.webp">
										<img class="person-img" src="images/team_ingeniero.webp">
									</div>
								</div>
								<div class="person-divider bg-primary"></div>
								<div class="fs-4 fw-semibold mb-1 mt-4 text-black">Lic. Daniel Jarzynski</div>
								<div class="text-black-50 text-smaller">Ingeniero de Software</div>
							</div>
						</div>

					</div>

				</div>
			</div><!-- #equipo team end -->
		</section><!-- #contenido end -->
		<!-- Footer
	============================================= -->
		<footer id="footer" class="dark" style="background: radial-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('images/pulsera_salvavidas.webp') no-repeat center center / cover;">

			<!-- Clientes - Mundo - Review - Cafe - Cohete - Emails
		============================================= -->

			<div class="container">
				<br />
				<div class="row col-mb-30">

					<div class="col-lg-2 col-md-4 col-6">
						<i class="i-large i-plain bi-gift" style="color: rgba(255,255,255,0.4);"></i>
						<div class="clear"></div>
						<div class="counter counter-small" style="font-family:'Lato', sans-serif; font-size: 21px; letter-spacing: 3px;"><span data-from="100" data-to="1580" data-refresh-interval="50" data-speed="2000"></span></div>
						<h5 style="font-size: 11px; color: #999; margin-top: 3px;">Clínicas satisfechas</h5>
					</div>
					<div class="col-lg-2 col-md-4 col-6">
						<i class="i-large i-plain bi-globe" style="color: rgba(255,255,255,0.4);"></i>
						<div class="clear"></div>
						<div class="counter counter-small" style="font-family:'Lato', sans-serif; font-size: 21px; letter-spacing: 3px;"><span data-from="10" data-to="30" data-refresh-interval="5" data-speed="2000"></span></div>
						<h5 style="font-size: 11px; color: #999; margin-top: 3px;">Presencia mundial</h5>
					</div>
					<div class="col-lg-2 col-md-4 col-6">
						<i class="i-large i-plain bi-chat-left-text" style="color: rgba(255,255,255,0.4);"></i>
						<div class="clear"></div>
						<div class="counter counter-small" style="font-family:'Lato', sans-serif; font-size: 21px; letter-spacing: 3px;"><span data-from="100" data-to="4895" data-refresh-interval="50" data-speed="2000"></span></div>
						<h5 style="font-size: 11px; color: #999; margin-top: 3px;">Reviews</h5>
					</div>
					<div class="col-lg-2 col-md-4 col-6">
						<i class="i-large i-plain bi-cup" style="color: rgba(255,255,255,0.4);"></i>
						<div class="clear"></div>
						<div class="counter counter-small" style="font-family:'Lato', sans-serif; font-size: 21px; letter-spacing: 3px;"><span data-from="100" data-to="9999" data-refresh-interval="50" data-speed="2000"></span></div>
						<h5 style="font-size: 11px; color: #999; margin-top: 3px;">Cafés bebidos</h5>
					</div>
					<div class="col-lg-2 col-md-4 col-6">
						<i class="i-large i-plain bi-rocket" style="color: rgba(255,255,255,0.4);"></i>
						<div class="clear"></div>
						<div class="counter counter-small" style="font-family:'Lato', sans-serif; font-size: 21px; letter-spacing: 3px;"><span data-from="100" data-to="6548" data-refresh-interval="50" data-speed="2000"></span></div>
						<h5 style="font-size: 11px; color: #999; margin-top: 3px;">Actualizaciones</h5>
					</div>
					<div class="col-lg-2 col-md-4 col-6">
						<i class="i-large i-plain fa-regular fa-life-ring" style="color: rgba(255,255,255,0.4);"></i>
						<div class="clear"></div>
						<div class="counter counter-small" style="font-family:'Lato', sans-serif; font-size: 21px; letter-spacing: 3px;"><span data-from="100" data-to="9844" data-refresh-interval="50" data-speed="2000"></span></div>
						<h5 style="font-size: 11px; color: #999; margin-top: 3px;">Emails Respondidos</h5>
					</div>

				</div>

			</div>



			<div class="container" >
				<!-- Footer Widgets
			============================================= -->
				<div class="footer-widgets-wrap" style="font-family: Raleway">

					<div class="row col-mb-50">
						<div class="col-md-6 col-lg-4">
							<img class="rounded-circle" src="images/doctora_1.webp" width="90" height="90" alt="Image" class="footer-logo">
							<div class="widget">


								<p>Innovamos en <strong>terapia intensiva</strong>. Descubre la <strong>revolución</strong> en cuidados críticos. Contáctanos para transformar la <strong>atención médica</strong>.</p>
								<div style="background: url('images/world-map.webp') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Oficina central:</strong><br>
										7950 Folsom Avenue, Suite 600<br>
										Formosa, 3600, Argentina<br>
									</address>
									<abbr title="Phone Number"><strong>Número de teléfono:</strong></abbr> +54 9 370 425-9037<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> (1) 11 4752 1433<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> mdarioc1998@gmail.com
								</div>

							</div>

						</div>

						<div class="col-md-6 col-lg-4">

							<div class="widget">
								<h4 style="font-family: Raleway">Testimonios de clientes</h4>

								<div class="fslider testimonial no-image bg-transparent border-0 shadow-none p-0" data-animation="slide" data-arrows="false">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide">
												<div class="row gx-3">
													<div class="col-auto pt-1">
														<img class="rounded-circle" src="images/mujer_cliente.webp" width="56" height="56" alt="Customer Testimonails">
													</div>
													<div class="col">
														<p class="mb-3 fs-6 font-secondary">Con la pulsera QR, el acceso a la información del paciente es inmediato y seguro. Ha mejorado enormemente la eficiencia de nuestro personal. ¡Una innovación que pone el futuro en nuestras manos!</p>
														<h4 class="h6 mb-0 fw-medium">Dra. Noeli Coronel</h4>
														<small class="text-muted">Fundadora Clínica San Vicente</small>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="row gx-3">
													<div class="col-auto pt-1">
														<img class="rounded-circle" src="images/hombre_cliente_1.webp" width="56" height="56" alt="Customer Testimonails">
													</div>
													<div class="col">
														<p class="mb-3 fs-6 font-secondary">El análisis de datos ha sido un cambio de juego. Podemos prever necesidades y ajustar tratamientos con una precisión nunca antes vista. Es más que una herramienta, es un aliado proactivo en la atención al paciente.</p>
														<h4 class="h6 mb-0 fw-medium">Gabriel Alfonso</h4>
														<small class="text-muted">CEO Critical MedCenter Inc.</small>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="row gx-3">
													<div class="col-auto pt-1">
														<img class="rounded-circle" src="images/mujer_cliente_1.webp" width="56" height="56" alt="Customer Testimonails">
													</div>
													<div class="col">
														<p class="mb-3 fs-6 font-secondary">La aplicación ha transformado nuestra unidad de terapia intensiva. La información vital está siempre al alcance, lo que nos permite tomar decisiones rápidas y salvar más vidas. ¡Es una revolución en la atención médica!</p>
														<h4 class="h6 mb-0 fw-medium">Dra. Diana Villalba</h4>
														<small class="text-muted">Directora Intensive Care Inc.</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="widget">
								<div class="d-flex">

									<a href="#" class="social-icon si-small rounded-circle text-white bg-instagram">
										<i class="fa-brands fa-instagram"></i>
										<i class="fa-brands fa-instagram"></i>
									</a>

									<a href="#" class="social-icon si-small rounded-circle text-white bg-facebook">
										<i class="fa-brands fa-facebook-f"></i>
										<i class="fa-brands fa-facebook-f"></i>
									</a>

									<a href="#" class="social-icon si-small rounded-circle text-white bg-twitter">
										<i class="fa-brands fa-twitter"></i>
										<i class="fa-brands fa-twitter"></i>
									</a>

									<a href="#" class="social-icon si-small rounded-circle text-white bg-google">
										<i class="fa-brands fa-google"></i>
										<i class="fa-brands fa-google"></i>
									</a>

									<a href="https://github.com/SharkDario" class="social-icon si-small rounded-circle text-white bg-github">
										<i class="fa-brands fa-github"></i>
										<i class="fa-brands fa-github"></i>
									</a>

									<a href="https://www.linkedin.com/in/dariocoronel/" class="social-icon si-small rounded-circle text-white bg-linkedin">
										<i class="fa-brands fa-linkedin"></i>
										<i class="fa-brands fa-linkedin"></i>
									</a>
								</div>
							</div>

						</div>

						<div class="col-md-6 col-lg-4">

							<div class="widget quick-contact-widget form-widget">

								<h4 style="font-family: Raleway">Envíanos un mensaje</h4>

								<div class="form-result"></div>

								<form id="quick-contact-form" name="quick-contact-form" action="include/form.php" method="post" class="quick-contact-form mb-0">

									<div class="form-process">
										<div class="css3-spinner">
											<div class="css3-spinner-scaler"></div>
										</div>
									</div>

									<div class="input-group mx-auto">
										<div class="input-group-text"><i class="uil uil-user"></i></div>
										<input type="text" class="required form-control" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Nombre completo">
									</div>
									<div class="input-group mx-auto">
										<div class="input-group-text"><i class="bi-envelope-plus"></i></div>
										<input type="text" class="required form-control email" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email">
									</div>
									<textarea class="required form-control mb-2 short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Mensaje"></textarea>
									<input type="text" class="d-none" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="">
									<input type="hidden" name="prefix" value="quick-contact-form-">
									<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger m-0" value="submit">Enviar</button>

								</form>

							</div>

						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
		============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row justify-content-between">
						<div class="col-12 col-lg-auto text-center text-lg-start">
							<p class="mb-3">Copyrights &copy; 2024 All Rights Reserved by Canvas Inc.</p>
						</div>

						<div class="col-12 col-lg-auto text-center text-lg-end">
							<div class="copyrights-menu copyright-links mb-0">
								<a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
							</div>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->
	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->
	<script src="include/rs-plugin/js/addons/revolution.addon.particles.min.js"></script>

	<script>
		var tpj = jQuery;
		var revapi4;

		tpj(document).ready(function () {
			if (tpj("#rev_slider_4_1").revolution == undefined) {
				revslider_showDoubleJqueryError("#rev_slider_4_1");
			} else {
				revapi4 = tpj("#rev_slider_4_1").show().revolution({
					sliderType: "hero",
					jsFileLocation: "include/rs-plugin/js/",
					sliderLayout: "fullscreen",
					dottedOverlay: "none",
					delay: 9000,
					particles: {
						startSlide: "first", endSlide: "last", zIndex: "6",
						particles: {
							number: { value: 100 }, color: { value: "#FFF" },
							shape: {
								type: "circle", stroke: { width: 0, color: "#FFF", opacity: 1 },
								image: { src: "" }
							},
							opacity: { value: 1, random: true, min: 0.25, anim: { enable: false, speed: 3, opacity_min: 0, sync: false } },
							size: { value: 3, random: true, min: 0.5, anim: { enable: false, speed: 40, size_min: 1, sync: false } },
							line_linked: { enable: false, distance: 150, color: "#FFF", opacity: 0.4, width: 1 },
							move: { enable: true, speed: 1, direction: "top", random: true, min_speed: 1, straight: false, out_mode: "out" }
						},
						interactivity: {
							events: { onhover: { enable: true, mode: "bubble" }, onclick: { enable: false, mode: "repulse" } },
							modes: { grab: { distance: 400, line_linked: { opacity: 0.5 } }, bubble: { distance: 400, size: 0, opacity: 0.01 }, repulse: { distance: 200 } }
						}
					},
					navigation: {
					},
					responsiveLevels: [1170, 1024, 778, 480],
					visibilityLevels: [1170, 1024, 778, 480],
					gridwidth: [1170, 1024, 778, 480],
					gridheight: [900, 768, 960, 720],
					lazyType: "none",
					parallax: {
						type: "mouse",
						origo: "slidercenter",
						speed: 400,
						levels: [1, 2, 3, 4, 5, 10, 15, 20, 25, 46, 47, 48, 49, 50, 51, 55],
					},
					shadow: 0,
					spinner: "off",
					autoHeight: "off",
					fullScreenAutoWidth: "off",
					fullScreenAlignForce: "off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar: "on",
					hideThumbsOnMobile: "off",
					hideSliderAtLimit: 0,
					hideCaptionAtLimit: 0,
					hideAllCaptionAtLilmit: 0,
					debugMode: false,
					fallbacks: {
						simplifyAll: "off",
						disableFocusListener: false,
					}
				});
			}

			RsParticlesAddOn(revapi4);
		});	/*ready*/
	</script>

</body>
</html>